body{

margin:0;

font-family:Arial,Helvetica,sans-serif;

background:#111;

color:white;

}

header{

text-align:center;

padding:20px;

background:black;

}

.logo{

width:120px;

}

h1{

margin:10px 0;

color:#d4a017;

}

h2{

font-size:18px;

font-weight:normal;

}

#estado{

margin-top:10px;

font-weight:bold;

color:#5cff5c;

}

main{

padding:20px;

}

.grupo{

margin-top:25px;

font-size:22px;

color:#d4a017;

border-bottom:1px solid #444;

padding-bottom:6px;

}

.alumno{

display:flex;

align-items:center;

padding:10px 0;

font-size:18px;

}

.alumno input{

margin-right:15px;

transform:scale(1.4);

}

footer{

text-align:center;

padding:20px;

font-size:14px;

color:#888;

}

#btnRegistrar{

display:block;

width:90%;

margin:30px auto;

padding:15px;

font-size:20px;

font-weight:bold;

background:#d4a017;

border:none;

border-radius:10px;

cursor:pointer;

}
